* {
    cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
:root {
  --color-basic: rgb(196, 24, 24); /*#C41818*/
  --color-basic-light: rgb(255, 0, 0);
  --color-shadow: rgb(255, 72, 15);
  --color-bg-elements: #e7e6e6;
  --color-text: #fff;
  --color-text-p: #a3a0a0;
  --color-footer:#00172e;
}

#navbar {
  max-height: 40px;
  /* text-align: center; */
  cursor: pointer;
  z-index: 10;
  box-shadow: 1px 1px 1px 1px rgba(216, 215, 216, 0.75);
  background-color: white;
  color: rgb(251, 4, 4);
  display: inline-block;
  width: 100%;
  padding: 7px 0px 0px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  position: fixed;
  top: 0;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
#logo {
  z-index: 11;
  /* font-weight:800; */
  transform: translate(10%, -22%);
  /* color: rgb(251, 4, 4);     " color:rgba(215, 16, 16, 0.864);" */
  font-size: 26px;
  float: left;
  margin-left:45px;
  
}
#diff
{
  color:rgba(223, 20, 20, 0.961);
  font-size:28px;
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 100;
  font-style: normal;
}
#bar {
  /* padding-top: 6px; */
  margin-right: 32px;
  float: right;
}
ul li a {
  text-decoration: none;
  list-style: none;
  /* color: rgb(250, 102, 57); */
  color: rgb(196, 24, 24);
}
ul li a:hover {
    color: rgb(255, 0, 0);
  /* color: rgb(255, 72, 15); */
  font-weight: 800px;
  text-shadow: 0px 2px 2px rgb(221, 217, 217);
  /* text-shadow: 1px 1px 4px rgba(168, 160, 160, 0.551); */
}

ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 17px;
}

/*toggle search bar*/
/* .searchdiv {
  position: relative; */
  /* margin-left: 30%; */
  /* display: inline-block;
  padding: 6px 7px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px rgba(226, 223, 225, 0.903);
  background-color: transparent;
}
.searchdiv input {
  display: none;
}
.searchdiv.active {
  position: absolute;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  width: 200px;
  height: 30px;
  border: none;
}

.searchdiv.active input {
  display: inline-block;
  width: 160px;
  outline: none;
  border: none;
  padding: 8px;
  margin-left: 6px;
  background-color: transparent;
}

.searchdiv:hover {
  box-shadow: 1px 1px 1px 1px rgba(178, 177, 178, 0.603);
} */

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

/* header css  */
#banner {
  overflow: hidden;
  padding: 0;
  transition: 0.7s;
  width: 100%;
  height: 100vh;
  margin-top:10px;
}

.bgcolor {
  margin-top: 100px;
  padding-right:10px;
  width: 100%;
  display: flex;
  z-index: -5;
  height: 260px;
  background-color: rgb(218, 5, 5);
  /* border-bottom-left-radius: 85px; */
  box-shadow: 0px 8px 10px rgba(101, 101, 100, 0.291);
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    /* text-align: center; */
  padding-left: 50px;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;

  /* padding-top: 2px; */
  padding-bottom: 10px;
  
  /* color: rgb(248, 90, 32); */
  /* color: rgba(67, 33, 21, 0.867); */
  color: rgb(255, 255, 255);
  width: 80%;
  margin-right: 0;
}
.header h1 {
  left: -100%;
  /* transition: 0.6s; */
  font-size: 40px;
  animation: slideInFromLeft 1.5s ease-in;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* .bgcolor img { */
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(2%, -25%);
  height: 400px;
  width: 400px;
  transition: 0.5s;
  filter: drop-shadow(0px 9px 10px rgba(138, 137, 136, 0.72)); */
  /* animation:appear 2s ease-in; */
  /* z-index: 8;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.circle {
  padding: 0;
  margin-left: 0;
  background-color: white;
  /* background-image:url("hero.png"); */
  /* border: 8px solid rgb(225, 218, 218); */
  box-shadow: 8px 6px 13px inset rgba(131, 131, 129, 0.291),
    8px -6px 13px inset rgba(118, 118, 117, 0.291),
    -1px -0px 9px rgba(74, 72, 72, 0.261),
    6px 0px 9px rgba(63, 62, 62, 0.261);
  height: 340px;
  width: 400px;
  /* top:50%; */
  /* left:80%; */
  transform: translate(-5%, -10%);
  border-radius: 50%;
  float: right;
}

.circle img {
  z-index: 6;
  height: 360px;
  width: 380px;
  border-radius: 50%;
  /* height: 100px;
  width: 100px; */
  display: flex;
}

#one {
  /* height: 90px; */
  box-shadow: 8px 6px 13px inset rgba(131, 131, 129, 0.291),
  8px -6px 13px inset rgba(118, 118, 117, 0.291),
  -1px -0px 9px rgba(74, 72, 72, 0.261),
  6px 0px 9px rgba(63, 62, 62, 0.261);

  border:8px solid white; 
  transform: translate(0%, -2%);
}
#two {

    box-shadow: 8px 6px 13px inset rgba(131, 131, 129, 0.291),
    8px -6px 13px inset rgba(118, 118, 117, 0.291),
    -1px -0px 9px rgba(74, 72, 72, 0.261),
    6px 0px 9px rgba(63, 62, 62, 0.261);
    border:6px solid white; 
  width: 180px;
  height:180px;
  transform: translate(-10%, -65%);
}
/* p button a{
 
 color:none;
} */

p a{
  text-decoration: none;
  background-color: white;
  color:red;
  padding:9px 20px;
  outline:none;
  border:none;
  margin-top:15px;
  font-size:18px;
  /* font-weight: 700; */
  border-radius:8px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p a:hover{
 padding:7px 20px;
  border:2px solid white;
  color:white;
  background-color:transparent;
}
/* p button a:hover{
  color:white;
} */

/* features */
.feature{
  padding-bottom:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(226, 223, 223);
}
#r1{
  display: flex;
  justify-content: center;
  align-items: center;
}

#r2{
  /* background-color: aqua; */
 display: flex;
 /* justify-content:space-between; */
 /* align-items: center; */
 flex-direction: row;
 
}


#r2 p{
  color:rgb(72, 62, 62);
  width:80px;
  text-align: center;
  /* background-color: azure; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
  margin-left:85px; 
}
#r2 p:first-child{
  margin-left:0px;
}
#r2 p:hover{
  color:rgb(3, 3, 3);
}
#icn
{
 filter:drop-shadow(4px 3px 2px rgb(138, 136, 136));
 width:900px;
 height:110px;
}
/* .custom-hr{ 
   width:90px;
  border:4px solid rgb(211, 8, 8); 
  margin:auto;
  margin-right:30%; 
  margin-top:30px;
} */

/* types */
.type{
  display: flex;
  text-align: center;
  flex-direction:column;
  padding-bottom:20px;
  /* align-items: center; */
  /* justify-content: center; */
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type h1{
  margin:35px 0px 15px 0px;
  color:rgb(211, 8, 8);
  font-size: 40px;
  font-weight: 600;
}
.type p{
  margin:10px 70px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing:2px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.type img{
  filter:drop-shadow(0px 3px 1px rgb(206, 205, 205));
  width:80%;
  margin:auto;
  margin-top:60px;
}
.type button{
  width:fit-content;
  margin: auto;
  outline: 0;
  border:none ;
  background-color: transparent;
  margin-top: 20px;
}

#appoint{
  text-decoration: none;
  padding:8px 15px;
  background-color:red;
 color:white;
  box-shadow:1px 2px 4px rgb(182, 181, 181) ;
  font-size:18px;
  font-weight: 500;
  border-radius:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#appoint a{
  color:white;
}
#appoint:hover{
  color:rgb(220, 5, 5);
  border:2px solid rgb(220, 5, 5);
  background-color:white;
}

/* entries */

.table1{
  margin:auto;
  max-width:950px;
  box-sizing: border-box;
  margin-top:20px;
  /* background-color: aqua; */
  border:2px solid black; 
  box-shadow: 2px 3px 8px rgba(128, 128, 128, 0.612);
  
}
/* tr{
  width:fit-content;
  background-color: bisque;
} */

#entry h1{
  margin:60px 0px 60px 0px;
  text-align: center;
  color:rgb(211, 8, 8);
  font-size: 50px;
  font-weight: 500;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
#entry th{
  color:rgb(191, 9, 9);
  text-align:center;
  font-size: 20px;
  /* padding-left:3335px; */
}
#entry td{
  color: white;
  background-color:rgba(226, 16, 16, 0.663) ; ; /*rgba(226, 16, 16, 0.851) ;*/
}
.table-striped-columns tr td{
  padding-top:10px;
  /* padding-left:15px; */
  text-align:center;
  font-size:18px;
}

/* donate */
.donate{
  background-color: rgba(223, 220, 218, 0.598);
  margin:70px 0px 40px 0px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.donate h1{
  margin-top:20px;
  margin-bottom:40px;
  color:rgb(211, 8, 8);
  font-size: 40px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#para{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: translate(0%,0%);
  /* text-align: left;
  float:left; */
  padding:0px 100px 20px 100px;
}
.roww{
display:flex;
flex-direction:row;
/* align-items: center;
  justify-content: center; */
margin:auto;
margin-bottom:55px;
}
#card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /*background-color: rgba(214, 211, 211, 0.797);
  max-width:240px;
  width:fit-content;
  box-sizing: border-box;*/
  margin-left:60px;
  box-shadow: 3px 3px 9px rgba(128, 128, 128, 0.865);
  /* margin-top:30px; */
  /*
  padding-bottom: 20px;
  padding-top:12px; */
  border-radius:1rem;
  
}
 #cdimg{
  border:1px solid rgba(233, 232, 232, 0.646);
  height:280px;
  width:240px;
  border-radius:1rem;
  
}
.cdata{
  z-index:3;
 color:white;
 width:205px;
 height:110px;
 padding:5px 0px 0px 6px;
 box-shadow:3px 3px 8px rgba(113, 113, 113, 0.727);
 background-color: rgba(247, 6, 6, 0.759);
 border-radius: 1rem;
 bottom:-4rem;
 opacity: 1;
 position: absolute;
 transition:opacity 1s 1s ;
 /* border:1px solid white; */
}
.cdata:hover{
  color:white;
  background-color:  rgba(223, 20, 20, 0.961);
} 
#card:first-child{
  margin-left:0;
}
#card h3{ 
  font-size: 20px;
}
.card2{
  padding:20px;
  background-color:white;
} 
.card2 h3{ 
  font-size: 21px;
  color:  rgba(223, 20, 20, 0.961);;
} 
.card2 h3:hover{ 
  color:  rgba(179, 13, 13, 0.961);
} 
.card2 p{
  font-size:18px;
}
#card p{
  font-size:14px;
}
#card:hover .cdata{
animation: show 1.5s forwards;
transition:opacity .3s;
}
#card:hover{
  animation:remove-over 1s forwards;
}

#card:not(:hover){
  animation: show-over 1s forwards;
}
#card:not(:hover) .cdata{
  animation: remove 1.5s forwards;
}

@keyframes show{
  50%{
    transform:translateY(-6rem);
  }
  100%{
    transform:translateY(-1rem);
  }
}
@keyframes remove-over{
  to{
    overflow: initial;
  }
}
@keyframes remove{
  0%{
    transform:translateY(-6rem);
  }
  50%{
    transform:translateY(3rem);
  }
  100%{
    transform:translateY(.5rem);
  }
}
@keyframes show-over{
  0%{
    overflow:inital;
    pointer-events:none;
  }
  50%{
  overflow:hidden;
  }
}

/* .centered{
  width: 700px;
  /* background-color: rgba(108, 183, 34, 0.48); */
  /* height:450px;
  margin:20px 40px;
  overflow: hidden; */
  /* position: absolute; */
  /* top:50%;
  left:50%;*/
  /* transform:translate(-50%,-50%);  */
  /* box-shadow: 4px 4px 10px rgb(115, 113, 113);

}
.images{
  margin-top: 10px;
  display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* background-color: blueviolet; */
/* }
.sd img{
 width:650px;
 height:420px;

}
.btns{
 /* position:absolute; 
 bottom:20px;
 left:50%;
 transform:translateX(-50%);
 display: flex;
}
.buttons a{
  height:8px;
  width:30px;
  border:2px solid rgb(208, 53, 53);
  margin:0 5px;
  border-radius:10px; 
} */



.content{
  margin:0px auto;
  height: 480px;
  width: 950px;
  position: relative;
  filter: drop-shadow(2px 3px 6px rgba(94, 93, 93, 0.742));
  padding-bottom: 15px;
  margin-bottom:20px;
  /* background-color:red; */
  
}
.content .images{
  height: 100%;
  width: 100%;
}
.content .images img{
  height: 100%;
  width: 100%;
  border:1px solid grey;
}

.images {
  position: relative;
  width: 100%;
  height: 400px; /* or whatever your desired height is */
  overflow: hidden; /* Prevents overflow of images */
}
.images img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: none; /* Hide by default */
  
}
.btm-slides{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btm-slides span{
  height: 15px;
  width: 50px;
  border: 2px solid rgb(187, 4, 4);
  margin: 0 3px;
  cursor: pointer;
}
.sliders{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:66px;
  cursor: pointer;
  border: 1px solid rgba(152, 1, 1, 0.704);
  background-color: rgba(221, 25, 25, 0.928);
  border-radius: 50%;
}
/* .sliders:hover{
  background: rgba(168, 4, 4, 0.844);
} */
.right{
  right: 0;
}
.sliders span{
  line-height: 50px;
  font-size: 35px;
  color: white;
  padding-left:20px;
}


/* .content{
  margin:30px auto;
  height: 400px;
  width: 750px;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}
.content .images{
  height: 100%;
  width: 100%;
  display: flex;
}
.images img{
  height: 100%;
  width: 100%;
} */


#camp{
  text-align: center;
  margin:20px 0px 30px 0px;
  color:rgb(211, 8, 8);
  font-size: 40px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: none;
  box-shadow: none;
}


footer {
  margin-top: 150px;
  position: relative;
  width: 100%;
  padding: 20px 50px;
  background-color: var(--color-basic);
  color: var(--color-text);
  padding: 20px;
  text-align: center;
}
.footer-ele {
  display: flex;
  justify-content: space-evenly;
}
footer li {
  list-style-type: none;
  display: inline;
}
footer a {
  color: var(--color-text);
  text-decoration: none;
}
footer .tag {
  font-size: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer .tag #brand-name {
  font-size: 30px;
  font-weight: 700;
}
footer .tag #tag-text {
  font-size: 15px;
  text-wrap: wrap;
}
footer .follow-us {
  font-size: 35px;
}
footer .follow-us li{
  font-size: 2rem;
}
footer .follow-us i{
  color: var(--color-text);
}
footer .follow-us i:hover {
  text-shadow: none;
  color: var(--color-bg-elements);
  transform: translateY(-2px);
}

.foot-ele {
  padding: 20px;
}
.vhr {
  opacity: 0.2;
}
footer .quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
}
footer .quick-links span {
  padding: 15px 0;
  text-align: left;
}
footer .quick-links .heading {
  font-size: 1rem;
  font-weight: bold;
}
footer .quick-links a:hover {
  color: var(--color-text-p);
}
footer .contact a:hover {
  color: var(--color-text-p);
}
footer .tag a:hover {
  color: var(--color-text-p);
}
footer .contact {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer .contact span {
  padding: 15px 0;
}
footer .join-us {
  background-color: #a10f0f;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  justify-content: space-around;
  border-radius: 10px;
}
.join-us p {
  font-size: 2rem;
}
.join-us button {
  padding: 10px;
  width: 200px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
}
#donate-bl {
  background-color: var(--color-footer);
  color: var(--color-text);
  transition: 0.2s ease;
}
#help-ask {
  background-color: var(--color-bg-elements);
  transition: 0.2s ease;
}
#donate-bl:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
#help-ask:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("waveo.jpg");
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 10s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 8s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 5s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 5s linear infinite;
}
  
/* Basic styling for the popup */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #444;
  color: var(--color-basic);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

.popup h3 {
  margin: 0 0 10px;
}

.popup button {
  background-color: var(--color-basic-light);
  color: var(--color-text);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: var(--color-basic);
}

/* Background overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
